<button mat-raised-button (click)= getRandomBeer()>Basic</button>

<mat-form-field width="100%">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium">
  </mat-form-field>
  
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" width="100%">
  
    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element" width="50"> {{element.id}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element" width="100"> {{element.name}} </td>
    </ng-container>
  
    <!-- Tagline Column -->
    <ng-container matColumnDef="tagline">
      <th mat-header-cell *matHeaderCellDef> Desc. </th>
      <td mat-cell *matCellDef="let element" width="250"> {{element.tagline}} </td>
    </ng-container>

    <!-- Brewed Column -->
    <ng-container matColumnDef="first_brewed">
        <th mat-header-cell *matHeaderCellDef> Brewed </th>
        <td mat-cell *matCellDef="let element" width="100"> {{element.first_brewed}} </td>
    </ng-container>

    <!-- Description Column -->
    <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Description </th>
        <td mat-cell *matCellDef="let element" width="500"> {{element.description}} </td>
    </ng-container>

    <!-- Image Column -->
    <ng-container matColumnDef="image_url">
        <th mat-header-cell *matHeaderCellDef> Image </th>
        <td mat-cell *matCellDef="let element"> <img src="{{element.image_url}}" width="100" height="250"> </td>
    </ng-container>
    
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

  <!-- Copyright 2019 Google LLC. All Rights Reserved.
      Use of this source code is governed by an MIT-style license that
      can be found in the LICENSE file at http://angular.io/license -->
